@(userForm: Form[Account.UserForm], user: models.User)
@import helper._
@main("Cadastrar usuário", user) {
    <div class="container-fluid">
    	<div class="container">
   	   		@form(action = routes.Account.newUser(), 'class -> "well", 'id -> "user") {
   	   		    <div class="alert alert-block alert-error" id="error" @if(!userForm.hasGlobalErrors) {hidden}> 
					<a class="close" data-dismiss="alert" id="closeError" href="">X</a>
					<h4 class="alert-heading">Erro!</h4> 
					<div id="textoErro"> 
						@if(userForm.hasGlobalErrors) {
							@userForm.globalError.message
						}
					</div> 
				</div>
  				<h2 class="well-heading">Cadastrar Usu&#225;rio</h2>
        		<input type="text" id="login" name="login" value="" class="span3" placeholder="Usu&#225;rio"> <br>
        		<input type="password" id="password" name="password" class="span3" placeholder="Senha"> 
        		<input type="password" id="confirm" name="confirm"  class="span3" placeholder="Confirme a senha" > <br>
        		<input type="text" id="email" name="email" class="span3" placeholder="E-mail"> <br>
        		<select id="role" name="role" class="span3">  
        			<option value="RH"> RH </option> 
        			<option value="Usuario"> Usu&#225;rio </option>
        		</select>
        		<div class="controls">
             		<input type="submit" class="btn btn-primary"/>
        		</div>
    		}
    	</div>
    </div>
    <script type="text/javascript">
		$('#user').submit(function() {
			if($("#login").val() == ""){
				$("#textoErro").empty();
				$("#error").attr("hidden",false);
				$("#textoErro").append("Digite um login");
				return false;
			}
			if($("#password").val() != $("#confirm").val()){
				$("#textoErro").empty();
				$("#error").attr("hidden",false);
				$("#textoErro").append("Password diferente da confirmação");
				return false;
			}
			if($("#password").val().length < 4){
				$("#textoErro").empty();
				$("#error").attr("hidden",false);
				$("#textoErro").append("Password deve ter pelo menos 4 digitos");
				return false;
			}
			if($("#email").val() == ""){
				$("#error").attr("hidden",false);
				$("#textoErro").append("E-mail Inválido");
				return false;
			}
		});
		$("#closeError").live("click", function(){
			$("#error").attr("hidden",true);
		});
	</script>
}