@(currentPage: com.avaje.ebean.Page[models.ChildImage],
  currentSortBy: String, currentOrder: String, user: models.User, categories: List[models.Category])
@import helper._
@main("Images", user) {
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Filtros</li>
              <li>Tipo de imagem</li>
              <li>
              	<input type="checkbox" id="photo" value="1" onclick="@{routes.Application.filtros(1,1)}" > Fotos </input>
              </li><li>
              	<input type="checkbox" id="ilustration" value="2" onclick="approve(value)" > Ilustra&#231;&#245;es </input>
              </li><li>
              	<input type="checkbox" id="vector" value="2" onclick="approve(value)" > Vetores </input>
              </li>
              <li>Posi&#231;&#227;o</li>
              <li>
              	<input type="checkbox" id="horizontal" value="1" onclick="@{routes.Application.filtros(1,1)}" > Horizontal </input>
              </li><li>
              	<input type="checkbox" id="vertical" value="2" onclick="approve(value)" > Vertical </input>
              </li>
              <li>Categorias</li>
       			@for(cat <- categories){
      				<li><input type="checkbox" value=@cat.id>@cat.name</input></li>
				}
			  <li>Segmentos</li>
       			@for(cat <- categories){
      				<li><input type="checkbox" value=@cat.id>@cat.name</input></li>
				}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
		<div class="span9">
			<div class="row-fluid">
				<ul class="thumbnails">
           			@for(i <- currentPage.getList) {
           				@if(i.resolution=="thumb"){
							<li class="span4">
								<a href="@routes.Application.imageDetail(i.image.id)" class="thumbnail">
              						<img src="@routes.Assets.at(i.link)">
              						@i.image.name
              					</a>
            				</li>
            			}
            		}
            	</ul>
            </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->    
    <p> <a href=@{routes.Account.users()}>listar usuários</a> </p>
    <p> <a href=@{routes.Application.newImage()}>incluir imagem</a> </p>
}