@(userForm: Form[Account.UserForm], user: models.User)
@import helper._
@main("Images", user) {
    
    <div class="container-fluid"> 
    	@form(action = routes.Account.editUser(), 'class -> "form", 'id -> "edit") {
    	    @if(userForm.hasGlobalErrors) {
      			<p class="error">
       				@userForm.globalError.message
      			</p>
    		}
    		<div id="error"></div>
        	Usuário: <input type="text" id="login" name="login" value="@userForm("login").value" >
        	Password: <label id="password" name="password" value="@userForm("password").value" >
        	E-mail: <label id="email" name="email" value="@userForm("email").value" />
        	Perfil: <label id="role" name="role" value="@userForm("role").value" />
        	<input type="submit" value="Ok">
    	}
    </div>
}