@(message: String, taskForm: Form[Account.UserForm], user: models.User)
@import helper._
@main("Usuários", user) {

    <div class="container-fluid">
    	<div class="container">
         	<div class="span8"> 
				<div class="btn-toolbar">
					<a href=@{routes.Account.createUser()}><button class="btn btn-primary" >Cadastrar usu&#225;rio</button></a>
				</div>
    	 		<table class="table table-striped"> 
     				<thead> 
     					<tr> 
     						<th>Login</th> 
     						<th>E-mail</th> 
     						<th>Perfil</th>
     						<th>Ativo</th>
     						<th>Aprovado</th> 
     					</tr> 
     				</thead> 
     				<tbody id="users"></tbody>
     			</table> 
     		</div>
  		</div>
	</div>
 	<script type="text/javascript">
		$(function() {
		  	return $.get("/usuarios", function(data) {
		    	return $.each(data, function(index, users) {
		            var output="";
		            output += "<tr><td>" + users.login + "</td><td>" + 
		            users.email + "</td><td>" + users.role + "</td><td><input type=checkbox id=isActive"+ 
		            users.login+" value="+users.login+" onclick=active(value) checked="+users.isActive+
		            "> </td><td>"+"<input type=checkbox id=isApproved"+users.login+" value="+users.login+
		            " onclick=approve(value) checked="+users.isApproved+" disabled="+users.isApproved+"> </td>"+ 
		            "<td><a href=usuario/edit/"+users.login+"><i class=icon-pencil></i></a>"+
		            "<a href=usuario/"+users.login+"/delete role=button data-toggle=modal><i class=icon-remove></i></a></td></tr>";
		            return $("#users").append($(output));

		    	});
		  	});
		});
	</script>
	<script type="text/javascript">
		var active = function(value) {
	    	if (!confirm("Confirma ativação?")){
	        	$(getElementById("isActive"+value)).attr("checked",false);
	    	} else {
		        $(getElementById("isActive"+value)).attr("checked",true);
		    }
		};
		var approve = function(value) {
	    	if (confirm("Confirma Aprovação?")){
	        	$(document.getElementById("isApproved"+value)).attr("checked",true);
	        	$(document.getElementById("isApproved"+value)).attr("disabled",true);
	        	$(document.getElementById("isActive"+value)).attr("disabled",false);
	    	} else {
	        	$(document.getElementById("isApproved"+value)).attr("checked",false);
	    	}
		};
	</script>
}