@(user: models.User)
@import helper._
@main("Usuários", user) {

    <div class="container-fluid">
    	<div class="container">
         	<div class="span8"> 
				<div class="btn-toolbar">
					<a href=@{routes.Account.createUser()}><button class="btn btn-primary" >Cadastrar usu&#225;rio</button></a>
				</div>
    	 		<table class="table table-striped" id="pagination"> 
     				<thead> 
     					<tr> 
     						<th>Login</th> 
     						<th>E-mail</th> 
     						<th>Perfil</th>
     						<th>Ativo</th>
     						<th>Aprovado</th> 
     						<th></th>
     					</tr> 
     				</thead> 
     				<tbody>
     					<tr>
     				    	<td>Row 1 Data 1</td>
      						<td>Row 1 Data 2</td>
      						<td>etc</td>
     					</tr>
     				</tbody>
     			</table> 
     			<div id="pagina"></div>
     		</div>
  		</div>
	</div>
 	<script type="text/javascript">

 	$(document).ready(function(){
 		$('#pagination').dataTable({
 			"bProcessing": true,
 		    "bServerSide": true,
 		    "sAjaxSource": "@routes.Account.userList()"
 		});
 	});
	</script>
	<script type="text/javascript">
		var active = function(value) {
			var aChk = document.getElementsByName("isActive"+value);
			if($(document.getElementsByName("isActive"+value)).is(':checked')){
		    	if (!confirm("Confirma ativa&ccedil;&atilde;o?")){
		        	$(document.getElementById("isActive"+value)).attr("checked",false);
		    	} else {
			        $(document.getElementById("isActive"+value)).attr("checked",true);
		        	$.getJSON('/usuario/activate/'+value, function(data){
		                if(data == "sucess")
			                alert("Usu&aacute;rio "+value+" ativado com sucesso!");
		                else
			                alert("Voc&ecirc; n&atilde;o tem autoriza&ccedil;&atilde;o para executar essa a&ccedil;&atilde;o");
		                });
			    }
			}else{
		    	if (!confirm("Confirma desativa&ccedil;&atilde;o?")){
		        	$(document.getElementById("isActive"+value)).attr("checked",true);
		    	} else {
			        $(document.getElementById("isActive"+value)).attr("checked",false);
		        	$.getJSON('/usuario/deactivate/'+value, function(data){
		                if(data == "sucess")
			                alert("Usu&aacute;rio "+value+" desativado com sucesso!");
		                else
			                alert("Voc&ecirc; n&atilde;o tem autoriza&ccedil;&atilde;o para executar essa a&ccedil;&atilde;o");
		            });
		    	}
			}
		};
		var approve = function(value) {
	    	if (confirm("Confirma Aprova&ccedil;&atilde;o?")){
	        	$(document.getElementById("isApproved"+value)).attr("checked",true);
	        	$(document.getElementById("isApproved"+value)).attr("disabled",true);
	        	$(document.getElementById("isActive"+value)).attr("disabled",false);
	        	$.getJSON('/usuario/approve/'+value, function(data){
	                if(data == "sucess")
		                alert("Usu&aacute;rio "+value+" aprovado com sucesso!");
	                else
		                alert("Voc&ecirc; n&atilde;o tem autoriza&ccedil;&atilde;o para executar essa a&ccedil;&atilde;o");
	                });
	    	} else {
	        	$(document.getElementById("isApproved"+value)).attr("checked",false);
	    	}
		};
	</script>
}